body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
    background-color: #FFFFFF;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    color:rgba(64, 255, 0, 0.916);
    background-color: #FFFFFF;
    background-image: url("fondoSauber.jpg");
    
}

.falling-element {
    position: absolute;
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    animation-name: fall;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(calc(100vh - 50px));
    }
}

.falling-element:nth-child(1) {
    background-image: url("blando.png");
}

.falling-element:nth-child(2) {
    background-image: url("medios.png");
}

.falling-element:nth-child(3) {
    background-image: url("duro.png");
}
